<div class="container">
  {{#if model.payments}}
  <h4>Ваши последние выплаты</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Время</th>
        <th>Tx ID</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.payments as |tx|}}
        <tr>
          <td>{{format-date-locale tx.timestamp}}</td>
          <td>
            <a href="https://etherscan.io/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
          </td>
          <td>{{format-balance tx.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>Выплат пока не проводилось</h3>
  {{/if}}
</div>