{{outlet 'error' }}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
        <div style="display: block;">
          <i class="fa fa-bank"></i> Баланс к выплате: <span>{{format-balance model.stats.balance}}</span><br>
          <small>Монеты на балансе, ожидающие очередной выплаты.</small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> Текущая выплата: <span>{{format-balance model.stats.pending}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-money"></i> Всего выплачено: <span>{{format-balance model.stats.paid}}</span></div>
      </div>
      <div class="col-md-4 stats">
        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-clock-o"></i>
          Крайнее решение: <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span> {{#if model.stats.lastShareDiff}}(<span>{{with-metric-prefix model.stats.lastShareDiff}}</span>){{/if}}
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-microchip"></i> Машин в сети: <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> Скорость (30м): <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> Скорость (3ч): <span>{{format-hashrate model.hashrate}}</span> <span>({{format-balance est24hr2}} ETH/24H)</span></div>
      </div>
      <div class="col-md-4 stats">
        <div style="display: block;"><i class="fa fa-cubes"></i> Блоков найдено: <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> Проведено выплат: <span>{{format-number model.paymentsTotal}}</span></div>
        {{#if model.stats.hashesCurrent}}
        <div style="display: block;"><i class="fa fa-gears"></i> Хэшей сегодня: <span>{{with-metric-prefix model.stats.hashesCurrent}}</span></div>
        {{/if}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i>
          Смена эпохи: <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}Машины <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.shifts' role='presentation'}}
      {{#link-to 'account.shifts'}}Журнал{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}Выплаты{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
