<div class="jumbotron">
  <div class="container">
        Всего <span class="label label-info">{{model.minersTotal}}</span> пользователей с общей скоростью <span class="label label-info">{{format-hashrate model.hashrate}}</span>.
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>Текущий статус</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Пользователь</th>
        <th>Скорость</th>
        <th>Последняя активность</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.miners as |m|}}
      <tr class="{{if m.offline "warning"}}">
        <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
        <td>{{format-hashrate m.hr}}</td>
        <td>{{format-date-locale m.lastBeat}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>Нет майнеров</h3>
  {{/if}}
</div>