<div class="jumbotron">
  <div class="container">
    Всего проведено <span class="label label-info">{{model.paymentsTotal}}</span> выплат
  </div>
</div>
<div class="container">
  {{#if model.payments}}
  <h4>Последние выплаты</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Время</th>
        <th>Сумма</th>
        <th>Адрес</th>
        <th>Tx ID</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.payments as |tx|}}
        <tr>
          <td>{{format-date-locale tx.timestamp}}</td>
          <td>{{format-balance tx.amount}}</td>
          <td>
            <a href="https://etherscan.io/address/{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
          </td>
          <td>
            <a href="https://etherscan.io/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>Выплат пока не проводилось</h3>
  {{/if}}
</div>
